@charset "utf-8";
/*首页*/
.m1-slider img{width:100%;}
.m1-goodsList li{float:left;position:relative;width:50%;height:1.48rem;}
.m1-goodsList li a{display:block;}
.m1-goodsList li::after{content:" ";position:absolute;right:0;top:0.1rem;width:2px;height:1.25rem;background:#ccc;}
.m1-goodsList li:last-child::after{width:0;}
.m1-goodsList img{position:absolute;margin:auto;top:0;left:0;bottom:0;right:0;width:2.02rem;height:1.04rem;}
.m1-goodsList::after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.m1-goodsList-three li{width:33.33%;}
.m1-goodsList-three a{display:block;}
.m1-goodsList-three img{width:1.33rem;height:1.07rem;}
.m1-box{margin-bottom:0.2rem;}
.m1-article{border-top:2px solid #ccc;}
.m1-article::after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.m1-article li{float:left;position:relative;width:25%;height:1.72rem;}
.m1-article li::after{content:" ";position:absolute;right:0;top:0.25rem;width:2px;height:1.25rem;background:#ccc;}
.m1-article li:last-child::after{width:0;}
.m1-article img{width:1.05rem;height:1.41rem;position:absolute;margin:auto;top:0;left:0;bottom:0;right:0;}
/*首页 end*/
/*商品分类页*/
.m2-list h1{padding-left:0.22rem;height:0.69rem;line-height:0.69rem;font-size:0.2rem;border-bottom:2px solid #ccc;}
.m2-list li{border-bottom:2px solid #ccc;height:2.68rem;}
.m2-list li:last-child{border-bottom:0;}
.m2-list .goodsPic{float:left;width:3.11rem;height:2.68rem;position:relative;}
.m2-list .goodsPic img{width:2.67rem;height:2.08rem;position:absolute;margin:auto;top:0;left:0;bottom:0;right:0;}
.m2-list .detail{float:left;margin:0.22rem;}
.m2-list .detail p{font-size:0.2rem;}
.m2-list .tit{margin-top:0.6rem;}
.m2-list .price{margin-top:0.3rem;}
/*商品分类页 end*/
/*商品详情页*/
.m3-detail h1{height:0.68rem;border-bottom:2px solid #eee;font-size:0.25rem;text-align:center;line-height:0.68rem;}
.m3-detail .tabs{height:0.69rem;line-height:0.69rem;}
.m3-detail .tabs li{float:left;width:33.333%;text-align:center;}
.m3-detail .tabs li.m3-detail .tabs li::after{content:" ";position:absolute;right:0;top:0;width:0.02rem;height:0.43rem;background:#eee;}
.m3-detail .tabs li.m3-detail .tabs li:last-child::after{width:0;}
.m3-detail .tabs li a{display:block;}
.m3-detail .tabs .z-cur{color:red;}
.m3-detail .intro{border-bottom:2px solid #eee;}
.m3-detail .intro img{width:100%;}
.m3-detail .intro p{height:0.56rem;line-height:0.56rem;padding-left:0.4rem;font-size:0.3rem;}
.m3-detail .intro .price{color:red;}
.m3-detail .appearance{border-bottom:2px solid #eee;}
.m3-detail .appearance h2{margin-left:0.4rem;height:0.52rem;line-height:0.52rem;font-size:0.2rem;}
.m3-detail .appearance ul{height:1.53rem;}
.m3-detail .appearance li{float:left;width:50%;height:1.53rem;text-align:center;}
.m3-detail .appearance img{width:1.88rem;height:1.47rem;}
.m3-detail .bonus{border-bottom:2px solid #eee;padding-left:0.4rem;}
.m3-detail .bonus h2{font-size:0.2rem;height:0.52rem;line-height:0.52rem;}
.m3-detail .bonus p{height:0.3rem;line-height:0.3rem;}
.m3-detail .bonus .key{color:red;margin-right:0.3rem;}
.m3-footerWrap{
    position: fixed;
    left:0;
    bottom: 0;
   line-height:0.6rem;}
.m3-footer a{float:left;text-align:center;}
.m3-footer .home,.m3-footer .chat{position:relative;width:0.79rem;font-size:0.35rem;background:#ededef;color:#727272;}
.m3-footer .home::after{content:" ";position:absolute;right:0;top:0.05rem;width:2px;height:0.5rem;background:#727272;}
.m3-footer .addcart,.m3-footer .buyNow{width:2.4rem;color:#fff;}
.m3-footer .addcart{background:#e44027;}
.m3-footer .buyNow{background:#727272;}
/*3-1商品详情*/
.m3-detail .spec .erweima{margin:0.36rem;text-align:center;}
.m3-detail .spec .erweima img{width:2.37rem;height:2.31rem;}
.m3-detail .spec .cnt{margin-left:.7rem;line-height:.4rem;}
/*3-2商品详情*/
.m3-detail .service{padding-top:.4rem;border-top:1px solid #ccc;}
.m3-detail .service .item{margin-left:.7rem;height:1.2rem;overflow:hidden;}
.m3-detail .service .item .key{float:left;width:1.48rem;}
.m3-detail .service .item .val{float:left;width:3.8rem;}
/*商品详情页 end*/
/*商品咨询*/
.m-personHeader{position:relative;height:0.7rem;line-height:.7rem;font-size:0.3rem;text-align:center;background:#fff;border-bottom:1px solid #ddd;}
.m-personHeader .back{position:absolute;left:0.38rem;top:.17rem;width:0.2rem;height:0.37rem;background:url("../images/back.jpg") no-repeat;background-size:0.2rem 0.37rem;}
.m6-layout{background:#ededef;}
.m6-form{margin:.2rem .2rem;}
.m6-form h2{margin-left:0.3rem;line-height:.7rem;}
.m6-form .sel{width:6rem;border:1px solid #ccc;background-color:#fff;}
.m6-form .sel p{position:relative;margin:0 .3rem;line-height:.9rem;border-bottom:1px solid #ccc;font-size:.3rem;}
.m6-form .sel p:last-child{border:0;}
.m6-form .sel p i{position:absolute;right:.17rem;top:.2rem;width:.48rem;height:.48rem;text-indent:-9999px;}
.m6-form .sel p .nochecked{background:url("../images/noselected.jpg") no-repeat;background-size:0.48rem .48rem;}
.m6-form .sel p .checked{background:url("../images/selected.jpg") no-repeat;background-size:0.48rem .48rem;}
.m6-form textarea{width:6rem;height:1.65rem;border:1px solid #ccc;color:#ccc;}
.m6-form .contact{width:5rem;height:.42rem;padding:.1rem .5rem;border:1px solid #ccc;}
.m6-submit{position:fixed;left:0;bottom:0;width:100%;line-height:.63rem;text-align:center;font-size:.3rem;background:#e44027;}
.m6-submit a{color:#fff;}
/*商品咨询 end*/
/*个人中心*/
.m7-person{background:#ededef;}
.m7-person .person-intro{position:relative;height:2.52rem;width:100%;background:#e44027;text-align:center;}
.m7-person .person-intro .portrait{position:relative;height:1.8rem;}
.m7-person .person-intro .portrait img{position:absolute;margin:auto;left:0;top:0;bottom:0;right:0;width:0.92rem;height:1.09rem;}
.m7-person .person-intro .name{line-height:.3rem;text-align:center;color:#fff;}
.m7-person .person-intro .setting{position:absolute;right:.3rem;top:.2rem;font-size:0.5rem;color:#fff;}
.m7-person .acount{height:.85rem;background:#727272;}
.m7-person .acount ul{height:.85rem;}
.m7-person .acount li{position:relative;float:left;width:33.3333%;padding-top:.1rem;height:.75rem;line-height:.3rem;color:#fff;text-align:center;font-size:.2rem;}
.m7-person .acount li::after{content:" ";position:absolute;right:0;top:.15rem;width:1px;height:.55rem;background:#fff;}
.m7-person .acount li:last-child::after{width:0;}
.m7-person .order-status{border-bottom:1px solid #d9d9d9;}
.m7-person .order-status ul{height:1.77rem;}
.m7-person .order-status li{float:left;position:relative;width:20%;padding-top:1.15rem;text-align:center;}
.m7-person .order-status li i{position:absolute;font-size:.5rem;top:.2rem;left:.4rem;}
.m7-person .order-status li .num{position:absolute;right:.3rem;top:.22rem;width:.3rem;height:.3rem;line-height:.3rem;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:1px solid red;}
.m7-person .allOrder{line-height:.84rem;height:.84rem;background:#fff;position:relative;margin-bottom:.35rem;}
.m7-person .allOrder h2{float:left;margin-left:.34rem;}
.m7-person .allOrder a{float:right;margin-right:.80rem;width:1.35rem;color:#ccc;}
.m7-person .allOrder .in{position:absolute;right:.17rem;top:.25rem;background:url("../images/7into.jpg") no-repeat;background-size:.16rem .3rem;width:.16rem;height:.3rem;}
.m7-person .myDetail li{position:relative;height:.85rem;line-height:.85rem;background:#fff;border-bottom:1px solid #ccc;}
.m7-person .myDetail li h3{float:left;margin-left:1.05rem;}
.m7-person .myDetail li .icon-address{background:url("../images/7address.jpg") no-repeat;}
.m7-person .myDetail li .icon-star{background:url("../images/7star.jpg") no-repeat;}
.m7-person .myDetail li .icon-footer{background:url("../images/7footer.jpg") no-repeat;}
.m7-person .myDetail li .icon-email{background:url("../images/7email.jpg") no-repeat;}
.m7-person .myDetail li .icon-logout{background:url("../images/7close.jpg") no-repeat;background-size:.34rem .34rem!important;}
.m7-person .myDetail li .icon{position:absolute;left:.34rem;top:.22rem;width:.34rem;height:.43rem;background-size:.34rem .43rem;}
.m7-person .myDetail li .into{position:absolute;right:.3rem;top:.27rem;width:.16rem;height:.3rem;background:url("../images/7into.jpg") no-repeat;background-size:.16rem .3rem;}
.m7-footer{
    max-width:10rem;position:fixed;left:0;bottom:0;width:100%;height:.5rem;background:#727272;}
.m7-footer li{float:left;width:25%;line-height:.5rem;text-align:center;}
.m7-footer li a{display:block;color:#fff;}
/*个人中心 end*/


/*品牌故事*/
.m-story img,.m-jifen img,.m-member img{
    max-width: 10rem;
    width: 100%;
}
/*品牌故事 end*/